// Colors
$white: #ffffff;
$primaryTextColor: #636363;
$headingColor: #272727;
$linkColor: #383838;
$linkHoverColor: #0a9cb6;
$linkVisitedColor: #0a9cb6;
$linkActiveColor: #0a9cb6;

// Font sizes
$font-sm: 0.875rem;     // 14px
$font-md: 1rem;         // 16px
$font-lg: 1.125rem;     // 18px

$font-h1: 2.25rem;      // 36px
$font-h2: 2rem;         // 32px 
$font-h3: 1.8125rem;    // 29px 
$font-h4: 1.625rem;     // 26px 
$font-h5: 1.5rem;       // 24px 
$font-h6: 1.375rem;     // 22px 